.all{
  width: 100vw;
  height: 100vh;
  background: '#CCC';
  color: '#F5F5F5';
}

.styles {
  filter: drop-shadow(0 0 2px #000000aa);
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  background: '#CCC';
  color: '#F5F5F5';
  display: flex;
  flex-direction: column;  
  justify-content: space-evenly;;
  align-items: center;
}

.login {
  filter: drop-shadow(0 0 2px #000000aa);
  background-color: black;
  border-radius: 8px;
  color: white;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
}

.signin {
  filter: drop-shadow(0 0 2px #000000aa);
  background-color: black;
  border-radius: 8px;
  color: white;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
}
